<div class="main">
  <div class="logo">
    <i-lucide
      [img]="Menu"
      color=" #004e92"
      size="50"
      class="Menu-btn"
    ></i-lucide>

    <div class="dash-icon">
      <img
        src="onboarding.png
    "
        alt="Onboarding icon"
      />
    </div>
  </div>
  <div class="right">
    <div class="toggle-theme">
      <app-theme-toggle></app-theme-toggle>
    </div>
    <div class="user-icon">
      <i-lucide
        [img]="User"
        color=" #004e92"
        size="20"
        class="Menun-btn"
      ></i-lucide>
    </div>
  </div>
</div>
