@use "../../../style-guide/variables.scss";

.component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;

    span {
      font-size: 12px;
    }

    .div-dashboard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      padding: 5px 10px;
      box-shadow: 2px 2px 5px gray;
      border-radius: 10px;
      cursor: pointer;

      &:active {
        transform: scale(1.05);
      }
    }

    .customer-explorer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      box-shadow: 2px 2px 5px gray;
      border-radius: 10px;
      cursor: pointer;

      &:active {
        transform: scale(1.05);
      }
    }
    .Admin-setting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
      box-shadow: 2px 2px 5px gray;
      border-radius: 10px;
      cursor: pointer;

      &:active {
        transform: scale(1.05);
      }
    }
  }

  .Logout-setting {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 90px;
    padding: 10px 0px;
    border: 1px solid gray;
    cursor: pointer;

    span {
      font-size: 15px;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}
