@use "../../../style-guide/variables.scss";

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 8px;
  height: 100dvh;
  position: fixed;
  width: 100%;

  .Header {
    grid-column: span 12 / span 12;
    border-bottom: 1px solid rgb(220, 201, 201);
  }
  .sider-bar {
    grid-column: span 1 / span 1;
    grid-row: span 10 / span 10;
    grid-row-start: 2;
    border-right: 1px solid rgb(220, 201, 201);
  }

  .main {
    grid-column: span 11 / span 11;
    grid-row: span 10 / span 10;
    grid-column-start: 2;
    grid-row-start: 2;
    border-bottom: 1px solid rgb(220, 201, 201);
  }
}

@include variables.small {
  .parent {
    display: flex;
    flex-direction: column;

    .sider-bar {
      display: none;
    }

    .main {
      padding: 10px;
    }
  }
}
