@use " ../../../../../style-guide/variables.scss";

.parent {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  // top section
  .top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 16px;

    .onbaording {
      grid-column: span 3 / span 3;
      padding: 16px;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
    }
    .dropoff {
      grid-column: span 3 / span 3;
      grid-column-start: 4;
      padding: 16px;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
    }
    .avgapprovaltiming {
      grid-column: span 3 / span 3;
      grid-column-start: 7;
      padding: 16px;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
    }
    .kycfailures {
      grid-column: span 3 / span 3;
      grid-column-start: 10;
      padding: 16px;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
    }
  }

  @include variables.small {
    .top {
      display: flex;
      flex-direction: column;
    }
  }

  @include variables.medium {
    .top {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    .top > div {
      flex: 0 0 calc(50% - 8px);
      box-sizing: border-box;
    }
  }


  // middle sections
}
