<div class="parent-login-page">
  <div class="login-form">
    <div class="login-form-header">
      <form
        class="form-content"
        [formGroup]="loginForm"
        (submit)="submitLoginForm()"
      >
        <h1>Welcome back</h1>
        <h2>Giktek Customer Onboarding Dashboard</h2>
        <label for="username">username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          formControlName="username"
          required
        />
        <small
          *ngIf="
            (loginForm.controls['username'].invalid &&
              loginForm.controls['username'].dirty) ||
            loginForm.controls['username'].touched
          "
        >
          <div
            class="inputError"
            *ngIf="loginForm.controls['username'].errors?.['required']"
          >
            username is required
          </div>
          <div
            class="inputError"
            *ngIf="loginForm.controls['username'].errors?.['username']"
          >
            Please enter a valid username.
          </div>
        </small>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          formControlName="password"
          required
        />
        <small
          *ngIf="
            (loginForm.controls['password'].invalid &&
              loginForm.controls['password'].dirty) ||
            loginForm.controls['password'].touched
          "
        >
          <div
            class="inputError"
            *ngIf="loginForm.controls['password'].errors?.['required']"
          >
            Password must be ≥ 6 chars
          </div>
        </small>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
  <div class="right">
    <div class="right-image">
      <div class="top-semi"></div>
      <div class="bottom-semi"></div>
    </div>
  </div>
</div>
