/* You can add global styles to this file, and also import other style files */

$color-primary: #004e92;
$color-primary-hover: #0462c0;
$color-accent: #10b981;
$color-bg-light: #ffffff;
$color-bg-dark: #0f172a;

body {
  background-color: $color-bg-light;

  &.dark-mode {
    background-color: $color-bg-dark;
  }
}
